<!DOCTYPE html> 
<html>
<head>
<title>What's Open?</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" href="css/main.css">
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<script src="js/geoPosition.js"></script>
<script src="js/app.js"></script>
<div data-role="page">
	<div data-role="header"><h1>What's Open?</h1></div>
	<div role="main" class="ui-content" id="results"><h2>When you need to know where you can eat, right now</h2></div>
	<div data-role="footer">&nbsp;&nbsp;&nbsp;&nbsp;</div>
</div>
</body>